<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.book.mapper.BookMapper">
    
    <resultMap type="Book" id="BookResult">
        <result property="bookId"    column="book_id"    />
        <result property="isbn"    column="isbn"    />
        <result property="bookName"    column="book_name"    />
        <result property="author"    column="author"    />
        <result property="totalCount"    column="total_count"    />
        <result property="availableCount"    column="available_count"    />
        <result property="borrowCount"    column="borrow_count"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectBookVo">
        select book_id, isbn, book_name, author, total_count, available_count, borrow_count, create_by, create_time, update_by, update_time, del_flag from book
    </sql>

    <select id="selectBookList" parameterType="Book" resultMap="BookResult">
        <include refid="selectBookVo"/>
        <where>  
            <if test="isbn != null  and isbn != ''"> and isbn = #{isbn}</if>
            <if test="bookName != null  and bookName != ''"> and book_name like concat('%', #{bookName}, '%')</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="totalCount != null "> and total_count = #{totalCount}</if>
            <if test="availableCount != null "> and available_count = #{availableCount}</if>
            <if test="borrowCount != null "> and borrow_count = #{borrowCount}</if>
        </where>
    </select>
    
    <select id="selectBookByBookId" parameterType="Long" resultMap="BookResult">
        <include refid="selectBookVo"/>
        where book_id = #{bookId}
    </select>

    <insert id="insertBook" parameterType="Book" useGeneratedKeys="true" keyProperty="bookId">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isbn != null and isbn != ''">isbn,</if>
            <if test="bookName != null and bookName != ''">book_name,</if>
            <if test="author != null">author,</if>
            <if test="totalCount != null">total_count,</if>
            <if test="availableCount != null">available_count,</if>
            <if test="borrowCount != null">borrow_count,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isbn != null and isbn != ''">#{isbn},</if>
            <if test="bookName != null and bookName != ''">#{bookName},</if>
            <if test="author != null">#{author},</if>
            <if test="totalCount != null">#{totalCount},</if>
            <if test="availableCount != null">#{availableCount},</if>
            <if test="borrowCount != null">#{borrowCount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateBook" parameterType="Book">
        update book
        <trim prefix="SET" suffixOverrides=",">
            <if test="isbn != null and isbn != ''">isbn = #{isbn},</if>
            <if test="bookName != null and bookName != ''">book_name = #{bookName},</if>
            <if test="author != null">author = #{author},</if>
            <if test="totalCount != null">total_count = #{totalCount},</if>
            <if test="availableCount != null">available_count = #{availableCount},</if>
            <if test="borrowCount != null">borrow_count = #{borrowCount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where book_id = #{bookId}
    </update>

    <delete id="deleteBookByBookId" parameterType="Long">
        delete from book where book_id = #{bookId}
    </delete>

    <delete id="deleteBookByBookIds" parameterType="String">
        delete from book where book_id in 
        <foreach item="bookId" collection="array" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </delete>
</mapper>